<body>

<header>
  <div class = "top_button"><a href = "#" id = "top_btn">this is blog</a></div>
</header>


<div class="container">
  <ul class="main_menu">
    <li><a href="#" id="travel-btn">Travel</a></li>
    <li><a href="#" id="stady-btn">Stady</a></li>
    <li><a href="#" id="hobby-btn">Hobby</a></li>
  </ul>
</div>

<h1>Latest Blogs</h1>
<div class = "main_articles">
  <table>
    <thead>
      <tr>
        <th></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @articles.each do |article| %>
        <div class="margin1"></div>
        <tr>
        
          <td><%= article.title %></td>
          <td><%= link_to 'Show', article %></td>
        
        </tr>
          
          
      <% end %>
    </tbody>
  </table>
</div>

<br>

<a class="top_scroll" href="#"><span>Scroll</span></a>

<%= link_to 'New Article', new_article_path %>

<div class="pageman"><%= paginate @articles%></div>


</body>