<header>
  <div class = "top_button"><a href = "#" id = "top_btn">this is blog</a></div>
</header>




<h1>Latest Blogs</h1>
<div class = "main_articles">
  <table>
  <thead>
    <tr>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  
    <% @articles.each do |article| %>
      <tr>
        
        <td><%= article.title %></td>
        <td><%= link_to 'Show', article %></td>
        
      </tr>
    <% end %>
  
  </table>
</div>

<br>

<%= link_to 'New Article', new_article_path %>

<div class="pageman"><%= paginate @articles%></div>


