body {
  background-color: whitesmoke;
  color: #333;
  margin: 1px; 
  background-attachment: fixed;
  background-size: cover;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; 
  font-family:"Microsoft Yahei","PingHei" ,"sans-serif";
}



header{
  background-color:black;
  height: 60px;
  width: 75%;
  text-align: center;
  padding-top: 20px;
  text-decoration: none;
  font-size: 40px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.top_button{
  font-family: 'SignPainter',sans-serif;
}

#top_btn{
  color: white;
}



.main_articles{
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: white;
  padding-left: 100px;
  width: 65vw;
  margin-left: auto;
  margin-right: auto;
  font-family: 'SignPainter',sans-serif;
  position: relative;
    .details{
      .article_title{
        // position: absolute;
        font-family: 'Kaiti SC',sans-serif;
        font-size: xx-large;
        padding-top: 20%;
        padding-left: 20px;
        
      }
      .post_time{
        text-align: center;
      }
      .show_btn{
        position: absolute;
        margin-left: 50px;
        margin-top: 100px;
      }
    }
}



h1 {
  font-family: 'SignPainter',sans-serif;
  position: relative;
  padding: 0.2em 0.5em;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  font-weight: lighter;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.56);
  background-color: white;
}

ul.main_menu{
  font-family: 'Phosphate',sans-serif;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.56);
  margin-top: 16px;
  height: 40px;
  opacity: 0.6;
  transition-duration: 0.5s;
  font-size: 45px;
  background-color: white;
  padding: 7px 10px;
}

li{
  list-style: none;
  display: inline;
  color: black;
}

table{
  margin-bottom: 20px;
  margin-top: 20px;
  width: 60%;
}

.img-fruid{
  max-width: 100%;
  height: auto;
}

.margin1{
  margin-top: 40px;
  padding-top: 15px;
  padding-left: 15px;
  width:  65%;
  height: 300px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.56);
  display: flex;
}



pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }

a:visited {
  color: #666; }

a:hover {
  color: #fff;
  background-color: #000; }

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }

.tags {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

.pagination{
  justify-content: center;
  border: none;
}

footer{
  height: 400px;
  width: 100vw;
  .foot_wrapper{
    background-color: white;
    height: 400px;
    width: 100vw;
    display: flex;
    border: solid 1px gray;
    .content_1{
      width: 35vw;
      padding-top: 5em;
      .log_in{
        color: white;
      }
      background-color: white;
      border: solid 1px gray;
      h3{
        font-family: 'SignPainter',sans-serif;
        font-size: 50px;
        text-align: center;
      }
      p{
        text-align: center;
        font-size: 16px;
      }
      .introduce{
        margin-top: 3em;
        margin-right: 3em;
        margin-left: 3em;
      }
    }
    .content_2{
      border: solid 1px gray;
      width: 30vw;
      position: relative;
      .my_image{
        margin-top: 5em;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .content_3{
      padding-top: 5em;
      border: solid 1px gray;
      width: 35vw;
      h4{
        font-family: 'SignPainter',sans-serif;
        font-size: 50px;
        text-align: center;
        .tag_list{
          
        }
      }
    }
  }
}

